---
layout: community
---



<div class="cleft">
	<h1>
		<a href="/blog.html">Blog</a>
	</h1>
	<div class="community__section">
	{% for post in site.posts limit:3 %}
		<div class="posts__item">
			<img class="posts__item--pic" src="{{ post.pic }}">
			<a class="posts__item--title" href="{{ post.url }}">{{ post.title }}</a>
		</div>
	{% endfor %}
	<button class="community__item--button" onclick="window.location.href='/blog.html'">View More</button>
</div>
</div>
<div class="cmid">
	<h1>
		<a href="/stories.html">Stories</a>
	</h1>
	<div class="community__section">
	{% for posts in site.stories limit: 3 %}
		<div class="posts__item">
			<img class="posts__item--pic" src="{{ stories.pic }}">
			<a class="posts__item--title" href="{{ stories.url }}">{{ stories.title }}</a>
		</div>
	{% endfor %}
	<button class="community__item--button" onclick="window.location.href='/stories.html'">View More</button>
</div>
</div>
<div class="cright">
	<h1>
		<a href="/tools.html">Resources & Tools</a>
	</h1>
	<div class="community__section">
	{% for posts in site.tools %}
		<div class="posts__item">
			<img class="posts__item--pic" src="{{ tools.pic }}">
			<a class="posts__item--title" href="{{ tools.url }}">{{ tools.title }}</a>
		</div>
	{% endfor %}
	<button class="community__item--button" onclick="window.location.href='/tools.html'">View More</button>
</div>
</div>
