---
layout: hero
---

<div class="hero">
	<div class="hero__section">
		<img src="../img/2016logo.png"/>
	</div>
	<div class="hero__section">
		<div id="clockdiv">
			<div><span class="days"></span><div class="smalltext">Days</div></div>
			<svg width="1" height="140" xmlns="http://www.w3.org/2000/svg" version="1.1">
			  <line x1="0" x2="0" y1="60" y2="200" stroke="white" stroke-width="3" stroke-linecap="square"/>
			</svg>
			<div><span class="hours"></span><div class="smalltext">Hours</div></div>
			<svg width="1" height="140" xmlns="http://www.w3.org/2000/svg" version="1.1">
			  <line x1="0" x2="0" y1="60" y2="200" stroke="white" stroke-width="3" stroke-linecap="square"/>
			</svg>
			<div><span class="minutes"></span><div class="smalltext">Minutes</div></div>
			<svg width="1" height="140" xmlns="http://www.w3.org/2000/svg" version="1.1">
			  <line x1="0" x2="0" y1="60" y2="200" stroke="white" stroke-width="3" stroke-linecap="square"/>
			</svg>
			<div><span class="seconds"></span><div class="smalltext">Seconds</div></div>
		</div>
		<p class="hero__section--desc">TEDxYouth@Toronto will bring together a line-up of inspiring speakers, spectacular performers, and Toronto's inquisitive young high school minds in the spirit of "ideas worth spending"</p>
		<button class="hero__section--button">Learn More</button>
	</div>
</div>
<div class="speakers">
	<h1>Our 2015 Speakers</h1>
	<div class="speakers__section">
		{% for speaker in site.speakers2015 %}
			<div class="speakers__item">
				<img class="speakers__item--pic" src="{{ speaker.pic }}"/>
				<h3 class="speakers__item--title">{{ speaker.name}}</h3>
				<h4 class="speakers__item--title">{{ speaker.title }}</h4>
				<p class="speakers__item--description">{{ speaker.desc }}</p>
				<button class="speakers__item--button">Learn More</button>
			</div>
		{% endfor %}
	</div>
	<hr>
	<h1>Our 2014 Speakers</h1>
	<div class="speakers__section">
		{% for speaker in site.speakers2014 %}
			<div class="speakers__item">
				<img class="speakers__item--pic" src="{{ speaker.pic }}"/>
				<h3 class="speakers__item--title">{{ speaker.name}}</h3>
				<h4 class="speakers__item--title">{{ speaker.title }}</h4>
				<p class="speakers__item--description">{{ speaker.desc }}</p>
				<button class="speakers__item--button">Learn More</button>
			</div>
		{% endfor %}
	</div>
</div>
<!--<div class="community">
	<h1 class="community__title	">Community</h1>
	<div id="owl-example" class="owl-carousel">
 		{% for blog in site.blog %}
 			<div class="carousel__item">
				<img class="carousel__item--pic" src"{{ blog.pic}}"/>
				<h4 class="carousel__item--title"> {{blog.title}}</h4>
				<p class="carousel__item--desc"> {{blog.desc}}</p>
 			</div>
 		{% endfor %}
	</div>
</div> -->
<div class="filler">
	<div class="filler__content">
		<img class="filler__pic" src="../img/girls.png"/>
		<div class="filler__text">
			<h3 class="filler__text--big">In the spirit of ideas worth spreading, TEDx is a program of local, self-organized events that bring people together to share a TED-like experience.</h3>

			<p class="filler__text--small">At a TEDx event, live speakers and TED videos combine to spark discussion and connection in an intimate setting. These local, self-organized events are branded TEDx, where x = independently organized TED event. The TED Conference provides general guidance for the TEDx program and attendance is capped as per TED regulations, but individual TEDx events are self-organized by members of the community.</p>
		</div>
	</div>
</div>
<div class="contact__hero">
	<div class="contact__hero--text">
		<h3>Send us an email at <a href="info@tedxyouthtoronto.ca">info@tedxyouthtoronto.ca</a> <br>or use the form to contact a specific team</h3>
		<p>Please follow us on social media by clicking on the buttons below</p>
	</div>
	<div class="contact__hero--form">
		<form>
			<div class="form__row">
				<p><label>Name</label></p>
				<p><input type="text" placeholder="Name"></input></p>
			</div>
			<div class="form__row">
				<p><label>Email</label></p>
				<p><input type="email" placeholder="Email"></input></p>
			</div>
			<div class="form__row">
				<p><label>Inquiry</label></p>
				<p><textarea rows="5" cols="20" placeholder="Write message here..."></textarea></p>
			</div>
		</form>
	</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

<script src="../js/owl.carousel.js"></script>

<script>
$("#owl-example").owlCarousel({

    // Most important owl features
    items : 3,
    itemsCustom : false,
    itemsDesktop : [1199,4],
    itemsDesktopSmall : [980,3],
    itemsTablet: [768,2],
    itemsTabletSmall: false,
    itemsMobile : [479,1],
    singleItem : false,
    itemsScaleUp : false,

    //Basic Speeds
    slideSpeed : 200,
    paginationSpeed : 800,
    rewindSpeed : 1000,

    //Autoplay
    autoPlay : false,
    stopOnHover : false,

    // Navigation
    navigation : false,
    navigationText : ["prev","next"],
    rewindNav : true,
    scrollPerPage : false,

    //Pagination
    pagination : true,
    paginationNumbers: false,

    // Responsive
    responsive: true,
    responsiveRefreshRate : 200,
    responsiveBaseWidth: window,

    // CSS Styles
    baseClass : "owl-carousel",
    theme : "owl-theme",

    //Lazy load
    lazyLoad : false,
    lazyFollow : true,
    lazyEffect : "fade",

    //Auto height
    autoHeight : false,

    //JSON
    jsonPath : false,
    jsonSuccess : false,

    //Mouse Events
    dragBeforeAnimFinish : true,
    mouseDrag : true,
    touchDrag : true,

    //Transitions
    transitionStyle : false,

    // Other
    addClassActive : false,

    //Callbacks
    beforeUpdate : false,
    afterUpdate : false,
    beforeInit: false,
    afterInit: false,
    beforeMove: false,
    afterMove: false,
    afterAction: false,
    startDragging : false,
    afterLazyLoad : false

});
</script>

<script>
var deadline = 'Nov 13 2016 10:00:00 GMT-0400';
function time_remaining(endtime){
	var t = Date.parse(endtime) - Date.parse(new Date());
	var seconds = Math.floor( (t/1000) % 60 );
	var minutes = Math.floor( (t/1000/60) % 60 );
	var hours = Math.floor( (t/(1000*60*60)) % 24 );
	var days = Math.floor( t/(1000*60*60*24) );
	return {'total':t, 'days':days, 'hours':hours, 'minutes':minutes, 'seconds':seconds};
}
function run_clock(id,endtime){
	var clock = document.getElementById(id);

	// get spans where our clock numbers are held
	var days_span = clock.querySelector('.days');
	var hours_span = clock.querySelector('.hours');
	var minutes_span = clock.querySelector('.minutes');
	var seconds_span = clock.querySelector('.seconds');

	function update_clock(){
		var t = time_remaining(endtime);

		// update the numbers in each part of the clock
		days_span.innerHTML = t.days;
		hours_span.innerHTML = ('0' + t.hours).slice(-2);
		minutes_span.innerHTML = ('0' + t.minutes).slice(-2);
		seconds_span.innerHTML = ('0' + t.seconds).slice(-2);

		if(t.total<=0){ clearInterval(timeinterval); }
	}
	update_clock();
	var timeinterval = setInterval(update_clock,1000);
}
run_clock('clockdiv',deadline);
</script>
