<footer class="siteFooter">
  <div class="siteFooter__links">
    <a class="siteFooter__item" href="index.html">Home</a>
    <a class="siteFooter__item" href="about.html">About</a>
    <a class="siteFooter__item" href="speakers.html">Speakers</a>
    <a class="siteFooter__item" href="blog.html">Blog</a>
    <a class="siteFooter__item" href="sponsors.html">Sponsors</a>
    <a class="siteFooter__item" href="team.html">Team</a>
    <a class="siteFooter__item" href="contact.html">Contact Us</a>
    <a class="siteFooter__item" href="application.html">Volunteer Application</a>
  </div>
  <p>This independent TEDx event is operated under license from TED. ©2016 by TEDxYouth@Toronto. All Rights Reserved.</p>
</footer>
