<div class="siteHeader__social">
  <a href="https://www.instagram.com/tedxyouthto/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
  <a href="https://www.facebook.com/tedxyouthto/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
  <a href="https://twitter.com/TEDxYouthTO"><i class="fa fa-twitter" aria-hidden="true"></i></a>
</div>
<header class="siteHeader">
  <div class="siteHeader__section">
    <div class="siteHeader__LogoDate">
      <a class="siteHeaderLogo" href="/"><img src="/img/logo.png"/></a>
      <h2 class="siteHeader__item--date">November 13th<br>Masonic Temple, Toronto</h2>
    </div>
    <div class="siteHeader__nav">
      <ul>
        <li><a class="siteHeader__item" href="/about/">About</a></li>
        <li><a class="siteHeader__item" href="/speakers/">Speakers</a></li>
        <li><a class="siteHeader__item" href="/community/">Community</a></li>
        <li><a class="siteHeader__item" href="/sponsors/">Sponsors</a></li>
        <li><a class="siteHeader__item" href="/team/">Team</a></li>
        <li><a class="siteHeader__item" href="/contact/">Contact Us</a></li>
        <li><a class="siteHeader__item" href="/delegate/">Delegate Application</a></li>
      </ul>
    </div>
  </div>
</header>
