<header class="siteHeader">
  <div class="siteHeader__section">
    <a class="siteHeaderLogo" href="/"><img src="/img/logo.png"/></a>
    <h2 class="siteHeader__item--date">November 13th<br>Masonic Temple, Toronto</h2>
    <div class="siteHeader__nav">
      <ul>
        <li><a class="siteHeader__item" href="/about/">About</a></li>
        <li><a class="siteHeader__item" href="/speakers/">Speakers</a></li>
        <li><a class="siteHeader__item" href="/community/">Community</a></li>
        <!--<a class="siteHeader__item" href="sponsors.html">Sponsors</a>-->
        <li><a class="siteHeader__item" href="/team/">Team</a></li>
        <li><a class="siteHeader__item" href="/contact/">Contact Us</a></li>
        <li><a class="siteHeader__item" href="/delegate/">Delegate Application</a></li>
      </ul>
    </div>
  </div>
</header>
