<header class="siteHeader">
  <div class="siteHeader__section">
    <a class="siteHeaderLogo" href="/"><img src="../img/logo.png"/></a>
  </div>
  <div class="siteHeader__section">
    <a class="siteHeader__item" href="about.html">About</a>
    <a class="siteHeader__item" href="blog.html">Blog</a>
    <a class="siteHeader__item" href="team.html">Team</a>
    <a class="siteHeader__item" href="sponsors.html">Sponsors</a>
    <a class="siteHeader__item" href="contact.html">Contact</a>
  </div>
</header>
