/**
* Site header
*/
.siteHeader {
  display: flex;
  justify-content: space-between;
  border-bottom: 10px solid $ted-red;
  background-color: #fff;
  min-height: 56px;
  padding: 30px 30px 25px;
}
.siteHeader__section {
  display: flex;
  align-items: center;
  padding: 0 15px;
  width: 100%;
}
.siteHeader__nav {
  width: 75%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  ul {
    display: flex;
    flex-direction: row;
  }
  li {
    list-style-type: none;
    ul {
      display: none;
    }
    &:hover {
      ul {
        display: block;
        position: absolute;
        background: white;
        margin: 0 0 0 15px;
        padding: 0;
      }
    }
  }
}
.siteHeader__title:hover {
  text-decoration: none;
}
.siteHeader__title:visited {
  color: black;
}
.siteHeaderLogo {
  padding: 5px 15px;
  width: 20%;
}
.siteHeader__item {
  font-size: 14px;
  font-weight: 700;
  padding: 5px 15px;
  text-transform: uppercase;
}
.siteHeader__item--date {
  border-left: 1px solid gray;
  padding-left: 15px;
  font-size: 14px;
  width: 20%;
  color: gray;
}
.siteHeader__item:hover {
  text-decoration: none;
}
.siteHeader__item:visited {
  color: black;
}

.siteHeader__social {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  a {
    padding:0 3px;
  }
}
@media (max-width: $on-mobile) {
  .siteHeader__section {
    flex-direction: column;
  }
  .siteHeader__nav {
    width: 100%;
    justify-content: center;
  }
  .siteHeader__item {
    font-size: 12px;
  }
  .siteHeaderLogo {
    width: 100%;
  }
}
@media (max-width: $on-tablet) {
  .siteHeader__section {
    flex-direction: column;
  }
  .siteHeaderLogo {
    width: 50%;
  }
  .siteHeader__nav {
    width: 100%;
    justify-content: center;
  }
  .siteHeader__item {
    font-size: 12px;
  }
}
/*
* Hero
*/
.hero {
  background: url(../img/heroBG.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  min-height: 600px;
}
.hero__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  width: 100%;
  color: white;
}
.filler__volunteer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  width: 100%;
  color: white;
  background: linear-gradient(0deg, #A61F28, #7F1E26);
}
.hero__section--chart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hero__section--desc {
  padding: 5% 15%;
  font-size: 16px;
}
.hero__section--button {
  padding: 15px 30px;
  background: none;
  border: 1px solid white;
  color: white;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  a {
    color: white;
  }
}
.volunteer--button {
  padding: 5px 15px;
  background: none;
  border: 1px solid white;
  text-transform: uppercase;
  color: white;
  font-size: 18px;
  a {
    color: white;
  }
}
@media (max-width: $on-mobile) {
  .hero {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero__section {
    width: 100%;
    img {
      width: 90%;
    }
  }
}
@media (max-width: $on-tablet) {
  .hero {
    justify-content: center;
    align-items: center;
  }
  .hero__section {
    width: 100%;
    img {
      width: 90%;
    }
  }
}
/*
* Clock
*/
#clockdiv {
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  font-size: 64px;
}
#clockdiv > div {
  padding: 10px;
  display: inline-block;
}
#clockdiv div > span {
  border-radius: 3px;
  display: inline-block;
}
.smalltext {
  font-weight: 400;
  font-size: 14px;
}
.clockdivider {
  border-left: 1px solid white;
  height: 100%;
}
@media (max-width: $on-mobile) {
  #clockdiv {
    font-size: 14px;
  }
  #clockdiv div > span {
    padding: 10px;
  }
  .smalltext {
    font-size: 12px;
  }
}
@media (max-width: $on-tablet) {
  #clockdiv {
    font-size: 14px;
  }
  #clockdiv div > span {
    padding: 10px;
  }
  .smalltext {
    font-size: 12px;
  }
}
/*
* Speakers
*/
.speakers {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5%;
}
.speakers__section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0 5%;
}
.speakers__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 25%;
  padding: 50px 15px;
}
.speakers__item--pic {
  border-radius: 100%;
}
.speakers__item--name {
  color: #114848;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
}
.speakers__item--title {
  color: #114848;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
}
.speakers__item--description {
  color: #A4A4A4;
  font-weight: 300;
  font-size: 18px;
  font-weight: 700;
}
.speakers__item--bio {
  color: #A4A4A4;
  font-weight: 300;
  font-size: 12px;
  font-weight: 700;
}
.speakers__item--button {
  padding: 5px 15px;
  background: white;
  border: 1px solid black;
  text-transform: uppercase;
}
.speakers__btn {
  padding: 5px 15px;
  background: white;
  border: 1px solid black;
  text-transform: uppercase;
  margin-bottom: 50px;
  font-size: 18px;
}
@media (max-width: $on-mobile) {
  .speakers__section {
    flex-direction: column;
  }
  .speakers__item {
    width: 100%;
  }
  .speakers__item--title {
    font-size: 14px;
  }
}
@media (max-width: $on-tablet) {
  .speakers__item--title {
    font-size: 14px;
  }
}
.speaker__header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}
.speaker__header--text {
  display: flex;
  flex-direction: column;
}
.speaker__pic {
  border-radius: 30px;
}
.speaker__content {
  margin: 5%;
}
.social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
}
/*
* community assets
*/
/*  SECTIONS  */
.section {
  clear: both;
  padding: 0 5%;
  margin: 5px;
  width: 90%;
}
/*  COLUMN SETUP  */
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
  text-align: center;
}
.col:first-child {
  margin-left: 0;
}
/*  GROUPING  */
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1;
  /* For IE 6/7 */
}
/*  GRID OF THREE  */
.span_3_of_3 {
  width: 100%;
  column-gap: 0;
}
.span_2_of_3 {
  width: 66.1%;
}
.span_1_of_3 {
  width: 32.2%;
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {
    margin: 1% 0;
  }
  .span_3_of_3,
  .span_2_of_3,
  .span_1_of_3 {
    width: 100%;
  }
}
.community__section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0 5%;
}
.community__titles {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  padding: 30px 5% 0;
  justify-content: space-around;
}
.community__item--button {
  padding: 5px 15px;
  background: white;
  border: 1px solid black;
  text-transform: uppercase;
  margin-bottom: 60px;
}
/*
* Blog
*/
.community {
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  padding: 5%;
  height: 100%;
  min-height: 300px;
}
.community__title {
  padding: 15px;
}
.posts {
  background: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5%;
}
.posts__section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0 5%;
  min-height: 250px;
}
.posts__item {
  margin: auto;
  width: 25%;
  padding: 50px 15px;
  align-items: center;
  text-align: center;
}
.posts__item--title {
  color: #114848;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5em;
  height: 3em;
  overflow: hidden;
  width: 300px;
  display: inline-block !important;
}
.posts__item--url {
  font-weight: 700;
  font-size: 18px;
}
.posts__item--pic {
  display: inline-block !important;
  height: auto;
  margin: 0;
}
@media (max-width: $on-mobile) {
  .posts__section {
    flex-direction: column;
  }
  .posts__item {
    width: 100%;
  }
  .posts__item--title {
    font-size: 14px;
  }
}
@media (max-width: $on-tablet) {
  .posts__item--title {
    font-size: 14px;
  }
}
/*
* Filler
*/
.filler {
  background: linear-gradient(0deg, #A61F28, #7F1E26);
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: center;
  align-items: center;
  height: 100%;
  /*min-height: 300px;*/
}
.filler__content {
  background: url(../img/lines.png) no-repeat center;
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: center;
  align-items: center;
}
.filler__pic {
  width: 25%;
  margin-top: -50px;
  padding-right: 75px;
}
.filler__text {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  padding: 15px 15px 0;
}
.filler__text--big {
  font-weight: 700;
  font-size: 14px;
}
.filler__text--small {
  font-weight: 300;
  font-size: 12px;
}
@media (max-width: $on-mobile) {
  .filler {
    min-height: 1px;
  }
  .filler__pic {
    display: none;
  }
  .filler__text {
    width: 100%;
    padding: 15%;
  }
}
@media (max-width: $on-tablet) {
  .filler__pic {
    margin-top: -30px;
    padding-right: 0;
    padding-left: 50px;
    width: 30%;
  }
  .filler__text {
    width: 75%;
  }
}
/*
* Contact--Hero
*/
.contact__hero {
  background: url(../img/heroBG.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  min-height: 300px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-weight: 700;
}
.contact__hero--text {
  display: flex;
  flex-direction: column;
  width: 25%;
  padding-left: 200px;
  h3 {
    font-weight: 700;
  }
  a {
    color: white;
    &:hover {
      text-decoration: none;
    }
  }
}
.contact__hero--form {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-right: 150px;
  align-items: center;
  justify-content: space-around;
}
.form__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  p {
    padding-right: 25px;
  }
}
@media (max-width: $on-mobile) {
  .contact__hero {
    flex-direction: column;
  }
  .contact__hero--text {
    width: 100%;
    h3,
    p {
      padding: 15px;
    }
  }
}
/*
 * Application
 */
.app {
  background: white;
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 5%;
}
.filler__pic {
  width: 25%;
  margin-top: -50px;
  padding-right: 75px;
}
/*
* Contact Us
*/
.contact__title {
  text-align: left;
}
.contactform {
  display: flex;
  flex-direction: column;
  padding: 15px 25%;
  align-items: center;
  justify-content: center;
  min-height: 300px;
}
.contactform__item {
  padding: 10px;
}
/*
* Site footer
*/
.siteFooter {
  border-top: 1px solid $ted-red;
  padding: $spacing-unit 0;
  background: #343434;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  height: 100%;
  min-height: 200px;
  // width: 100%;
  a {
    color: white;
  }
}
.siteFooter__links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 15px;
  text-transform: uppercase;
  font-weight: 700;
}
.siteFooter__item {
  padding: 5px;
  text-decoration: none;
}

.siteFooter__social {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  color: white;
  a {
    padding:0 15px;
  }
}
@media (max-width: $on-mobile) {
  .siteFooter__links {
    flex-wrap: wrap;
    padding: 15px;
  }
  .siteFooter p {
    padding: 15px;
  }
}
/*
* About
*/
.about__item {
  padding: 5px;
}
.about__item--title {
  font-size: 42px;
}
/**
* Page content
*/
.page-content {
  padding: $spacing-unit 0;
  margin: auto;
  width: 90%;
  padding: 5px;
}
.page-heading {
  font-size: 20px;
}
.post-list {
  margin-left: 0;
  list-style: none;
  > li {
    margin-bottom: $spacing-unit;
  }
}
.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}
.post-link {
  display: block;
  font-size: 24px;
}
/**
* Posts
*/
.post-header {
  margin-bottom: $spacing-unit;
}
.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;
  @include media-query($on-laptop) {
    font-size: 36px;
  }
}
.post-content {
  margin-bottom: $spacing-unit;
  h2 {
    font-size: 32px;
    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }
  h3 {
    font-size: 26px;
    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }
  h4 {
    font-size: 20px;
    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}
/*
* Team Page
*/
.container {
  display: flex;
  flex-direction: column;
  padding: 0 15%;
}
.container__team_member {
  display: flex;
  flex-direction: row;
  padding: 15px 0;
  justify-content: center;
  align-items: center;
}
.container__team_member--text {
  width: 75%;
  padding-right: 50px;
}
.container__team_member--pic {
  width: 25%;
}
@media(max-width: $on-mobile) {
  .container__team_member {
    flex-direction: column;
  }
  .container__team_member--pic {
    width: 75%;
  }
}
@media(max-width: $on-tablet) {
  .container__team_member--pic {
    width: 100%;
  }
  .container__team_member--text {
    p {
      font-size: 14px;
    }
  }
}
